.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.cardheader {
  display: flex;
  justify-content: space-between;
}
.cardheader img {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  object-fit: cover;
}
.cardbody {
}
.dates {
  display: flex;
  gap: 0.7rem;
  align-items: flex-end;
}

.tag {
  background: #cccccc;
  border-radius: 10px;
  text-decoration: none;
  margin: 0;
  color: #fff;
  padding: 3px 10px;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.tag:hover {
  transform: scale(1.01);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: #a8a8a8d8;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 1rem;
  justify-content: space-between;
}
.user h4 {
  margin: 0;
  font-size: 17px;
  font-weight: 600;
}

.user img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  object-fit: cover;
}

small {
  font-size: 12px;
  color: #2b55e0;
}
.btn {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 2rem;
}
.btn button {
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
.btn button:hover {
  transform: scale(1.01);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: #a8a8a8d8;
}

.btnDelete {
  background-color: #e0312b;
}
.btnEdit {
  background-color: #2b55e0;
}
