.header {
  padding: 2rem;
  display: flex;
  background-color: #242424;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

.header a {
  text-decoration: none;
  color: var(--color-primary-200);
  transition: all 0.3s ease-in-out;
}
.header a:hover,
.header a.active {
  color: var(--color-primary-100);

  transform: scale(1.05);
}

.list {
  display: flex;
  gap: 1rem;
}

.list a {
  text-decoration: none;
  color: var(--color-primary-400);
}

.list a:hover,
.list a.active {
  color: var(--color-primary-100);
}

button{
  cursor: pointer;
}
