* {
  box-sizing: border-box;
}

.card img {
  aspect-ratio: 16/9;
  object-fit: cover;
  max-width: 100%;
}
.link:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}